@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Text selection */
::selection {
    color: #fff;
    background: #fa2f2f;
}

/* Code for Firefox */
::-moz-selection {
    color: #fff;
    background: #fa2f2f;
}


/* Custom scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: #fa2f2f;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #f42525;
}

::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
}

/* Hide scrollbar class for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar class for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.react-input-emoji--input, .react-input-emoji--container {
    background-color: #151A21 !important;
    border-color: #242C37 !important;
    margin: 0 !important;
    color: #fff;
}

/* Emoji keyboard */
.emoji-mart-anchor-bar {
    background-color: #f42525 !important;
}

.emoji-mart-anchor-icon {
    color:#fff !important;
}

/* Link preview */
.LowerContainer:hover, .Container:hover, .Image:hover, .Container > *:hover {
    background-color: #151A21 !important;
    border: #151A21 !important;
}

.text-justify {
    text-align: justify;
    text-justify: inter-word;
}

.bounce {
    animation: bounce .5s infinite alternate;
    -webkit-animation: bounce .5s infinite alternate;
}

.spin {
    animation: spin 5s infinite linear;
    -webkit-animation: spin 5s infinite linear;
}

@keyframes bounce {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-10px);
    }
}

@-webkit-keyframes bounce {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-10px);
    }
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}